﻿@using Kolay.Models
@model Usuario

@{
    ViewBag.Title = "Efetuar Login";
}

@*Avaliar com o professor como funciona para mostrar mensagens*@
@if (ViewBag.SucessMessage != null)
{
    <div class="alerta">ViewBag.SucessMessage</div>
    <hr />
}

<div style="margin-top:70px">
    <h2>@ViewBag.Title.</h2>

    <div style="width:100%;height:100%;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-items:center;">
        <div class="row" style="width:800px;margin-left:200px">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Usuario", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        @Html.AntiForgeryToken()
                        <h4>Use seu email e senha para acessar o sistema.</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Senha, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" style="width:200px;margin-left:60px">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox" style="width:auto">
                                    <div class="row">
                                        <div style="width:auto">
                                            @Html.Label("Manter-se conectado", htmlAttributes: new { @class = "label label-info" })
                                        </div>
                                        <div class="col-md-10" style="margin-top:-19px; margin-left:5px">
                                            @Html.CheckBox("chkLogado", false, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default btn-lg btn-block" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Registre-se", "Create")
                        </p>
                        <p>
                            @Html.ActionLink("Esqueceu a senha?", "EsqueceuSenha")
                        </p>
                    }
                </section>
            </div>
        </div>
    </div>
