﻿@model Kolay.Models.Participante

@{
    ViewBag.Title = "Inscrição em evento";
    Kolay.Models.Evento evento = ViewBag.Evento;
}


<div style="margin-top:70px"><h2>Inscrever-se no evento</h2></div>
<div style="width:100%;height:100%;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-items:center;">
    <div style="width:auto;">
        <h3>Dados do evento</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal" style="width:auto">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">@evento.Titulo</h3>
                    </div>
                    <div class="panel-body">
                        Data do evento : @evento.InicioEvento.ToString("dd/MM/yyyy")<br />
                        Vagas restantes : @evento.VagasRestantes(@evento)
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="width:100%;text-align:center">
                        @Html.HiddenFor(model => model.Evento)

                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Inscrever-se" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Cancelar", "Index", "Evento")
</div>
