﻿@model IEnumerable<Kolay.Models.Participante>

@{
    ViewBag.Title = "Participantes";

    Kolay.Models.Evento evento = ViewBag.Evento;
}

<h2>Participantes</h2>

<h4>@evento.Titulo</h4>

Inicio: @evento.InicioEvento
<br />
Final: @evento.FinalEvento

<p/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInscricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInscricao)
        </td>
        <td>
            @Html.ActionLink("Mensagem", "Create", "Mensagem", new { id = item.ParticipanteId }, null)
        </td>
    </tr>
}

</table>