﻿@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Início", "Index", "Evento")</li>
        <li>@Html.ActionLink("Buscar Evento", "Pesquisar", "Evento")</li>
        <li>@Html.ActionLink("Criar Evento", "Create", "Evento")</li>
        <li>@Html.ActionLink("Histórico", "Historico", "Evento")</li>
        <li>@Html.ActionLink("Inbox", "Mailbox", "Mensagem")</li>
    </ul>

    using (Html.BeginForm("Logout", "Usuario", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Olá " + @Kolay.DAL.UsuarioDAO.BuscarUsuarioPorId(Convert.ToInt32(User.Identity.Name)).Nome + "!", "Details", "Usuario", routeValues: new { id = User.Identity.Name } , htmlAttributes: new {title = "Manage" })
            </li>
            <li>
                @Html.ActionLink("Logout", "Logout", "Usuario")
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Início", "Index", "Home")</li>
        <li>@Html.ActionLink("Funcionalidades", "Info", "Home")</li>
        <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registre-se", "Create", "Usuario", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Entrar", "Login", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
