﻿@model Kolay.Models.Plano

@{
    ViewBag.Title = "Planos";
}

<div style="left:20%;padding-top:100px">
    <h1>Adquira um plano já!</h1>
</div>

<div style="width:100%;height:100%;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-items:center;">

    <div class="row" style="margin:0 auto;width:auto; margin-top:50px;text-align:center">
        <div class="panel panel-primary" style="margin:10px">
            <div class="panel-heading">
                <h3 class="panel-title">Básico</h3>
            </div>
            <div class="panel-body">
                Beneficio 1  - Bla bla bla bla<br />
                Beneficio 2  - Bla bla bla bla<br />
                Beneficio 3  - Bla bla bla bla<br />
                <h3><a href="#"> Adquira já ! </a></h3>
            </div>
        </div>

        <div class="panel panel-info" style="margin-bottom:30px">
            <div class="panel-heading">
                <h3 class="panel-title">Completo</h3>
            </div>
            <div class="panel-body">
                Beneficio 1  - Bla bla bla bla<br />
                Beneficio 2  - Bla bla bla bla<br />
                Beneficio 3  - Bla bla bla bla<br />
                <h3><a href="#"> Adquira já ! </a></h3>
            </div>
        </div>

        <div class="panel panel-success" style="margin:10px">
            <div class="panel-heading">
                <h3 class="panel-title">Médio</h3>
            </div>
            <div class="panel-body">
                Beneficio 1  - Bla bla bla bla<br />
                Beneficio 2  - Bla bla bla bla<br />
                Beneficio 3  - Bla bla bla bla<br />
                <h3><a href="#"> Adquira já ! </a></h3>
            </div>
        </div>
    </div>
</div>
