﻿@using Kolay.Models;
@model Kolay.Models.Evento

@{
    ViewBag.Title = "Avaliar evento";
    Evento evento = ViewBag.Evento;
}

<div style="margin-top:70px;">
    <h1>Avaliar evento</h1>
</div>
<div style="margin-top:10px;width:100%;height:100%;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-items:center;">
    <div style="text-align:center;width:500px">
        <h2>Detalhes do evento</h2>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 style="margin:-5px">@evento.Titulo</h3>
            </div>
            <div class="panel-body">
                <h4>Organizador: @evento.Organizador</h4>
                <h4>Descrição: @evento.Descricao</h4>
                <h4>Local: @evento.Endereco</h4>
            </div>
        </div>
        <form class="form-horizontal">
            <fieldset>
                <legend> Defina uma nota para este evento:</legend>
                <div class="form-group">
                    <div style="text-align:left">
                        <div class="col-lg-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="noteEvento1">
                                    1 - Péssimo
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="noteEvento2">
                                    2 - Ruim
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="noteEvento3">
                                    3 - Regular
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios4" value="noteEvento4">
                                    4 - Bom
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios5" value="noteEvento5">
                                    5 - Ótimo
                                </label>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left:50px">
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <label class="control-label" for="inputLarge">Comentário sobre o evento:</label>
                                    <input class="form-control input-lg" type="text" id="comentarioEvento">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend> Defina uma nota para o organizador do evento:</legend>
                <div class="form-group">
                    <div style="text-align:left">
                        <div class="col-lg-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="notaOrg1">
                                    1 - Péssimo
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="notaOrg2">
                                    2 - Ruim
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="notaOr3">
                                    3 - Regular
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios4" value="notaOrg4">
                                    4 - Bom
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios5" value="notaOrg5">
                                    5 - Ótimo
                                </label>
                            </div>
                        </div>
                        <div class="form-group" style="margin-left:50px">
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <label class="control-label" for="inputLarge">Comentário sobre o organizador:</label>
                                    <input class="form-control input-lg" type="text" id="comentarioOrganizador">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group" style="width:100%;margin-left:-40px">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-default btn-lg btn-bloc">Avaliar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Cancelar", "Index", "Home")
</div>

