﻿@model Kolay.Models.Evento

@{
    ViewBag.Title = "Create";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximoParticipantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximoParticipantes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Privacidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Privacidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InicioEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InicioEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalEvento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalEvento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organizador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organizador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BioOrganizador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BioOrganizador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

