﻿@model Kolay.Models.Evento

@{
    ViewBag.Title = "Detalhes do evento";
}


<div>
    <h4>Detalhes do evento</h4>
    <hr />
    <div style="margin-top:10px;width:100%;height:100%;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-items:center;">
        <div class="panel panel-primary" style="width:0 auto">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align:center">
                    @Html.DisplayFor(model => model.Titulo)
                </h3>
            </div>
            <div class="panel-body">
                @Html.DisplayNameFor(model => model.Endereco) &mdash;
                @Html.DisplayFor(model => model.Endereco)<br /><br />
                @Html.DisplayNameFor(model => model.Descricao) &mdash;
                @Html.DisplayFor(model => model.Descricao)<br /><br />
                @Html.DisplayNameFor(model => model.MaximoParticipantes) &mdash;
                @Html.DisplayFor(model => model.MaximoParticipantes)<br /><br />
                @Html.DisplayNameFor(model => model.Categoria) &mdash;
                @Html.DisplayFor(model => model.Categoria)<br /><br />
                @Html.DisplayNameFor(model => model.Privacidade) &mdash;
                @Html.DisplayFor(model => model.Privacidade)<br /><br />
                @Html.DisplayNameFor(model => model.InicioEvento) &mdash;
                @Html.DisplayFor(model => model.InicioEvento)<br /><br />
                @Html.DisplayNameFor(model => model.FinalEvento) &mdash;
                @Html.DisplayFor(model => model.FinalEvento)<br /><br />
                @Html.DisplayNameFor(model => model.Organizador) &mdash;
                @Html.DisplayFor(model => model.Organizador) <br /><br />
                @Html.DisplayNameFor(model => model.BioOrganizador)&mdash;
                @Html.DisplayFor(model => model.BioOrganizador) <br /><br />
                @Html.DisplayNameFor(model => model.Valor) &mdash;
                @Html.DisplayFor(model => model.Valor)
            </div>
            @if (Model.Usuario.UsuarioId.Equals(Convert.ToInt32(User.Identity.Name)))
            {
                @Html.ActionLink("Cancelar Evento", "EventoCancelado", "Evento", new { id = Model.EventoId }, null)
            }
        </div>

    </div>
</div>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- Your share button code -->
<div class="fb-share-button"
     data-href="#"
     data-layout="button">
</div>


<p>
    @Html.ActionLink("Inscrever-se", "Create", "Participante", new { id = Model.EventoId }, null) |

    @Html.ActionLink("Voltar", "Index")
</p>
