﻿@model Kolay.Models.Evento

@{
    ViewBag.Title = "EventoCancelado";
}

<div style="width:100%;margin-top:70px;pxheight:100%;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-items:center;">
    <h2>Evento Cancelado com sucesso!</h2>
</div>

