﻿@using Kolay.Extensions
@model IEnumerable<Kolay.Models.Evento>
@{
    ViewBag.Title = "Historico de eventos";
}

<div style="margin-top: 70px;">
    <h1>Historico de eventos participados</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" style="margin-top: 10px">
                <div class="card h-100">
                    @Html.ActionImage("Details", "Evento", new { id = item.EventoId }, "~/Image/banner-evento.jpg", "BANNER PADRÃO", "card-img-top")
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.ActionLink(item.Titulo, "Details", new { id = item.EventoId })
                        </h4>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.Descricao)<br />
                            @if (item.FinalEvento >= DateTime.Now)
                            {
                                @Html.ActionLink("Avaliar", "Avaliar", "Evento", routeValues: null, htmlAttributes: new { eventoId = item.EventoId })
                            }
                        </p>
                    </div>
                    
                    @*<div class="card-footer">
                        <br />
                        @for (var i = 1; i <= 3; i++)
                        {
                            <span style="background-image:url('/Image/StarFade.gif');"></span>
                        }
                        @for (var i = (3 + 1); i <= 5; i++)
                        {
                            <span class="starFadeN"></span>
                        }
                    </div>*@
                </div>
            </div>
        }
    </div>
</div>



