﻿@model IEnumerable<Kolay.Models.Evento>

@{
    ViewBag.Title = "Eventos";
}
@using Kolay.Extensions
@Styles.Render("~/Content/Evento/4-col-portfolio.css")

<div class="container">
    <!-- Page Heading -->
    <h1 class="my-4">
        O QUE VOCÊ PROCURA PRA HOJE?
        <small>Temos de tudo aqui</small>
    </h1>
    <br/>

    <div class="row">
        @foreach (var item in Model)
        {
            if (item.EventoCancelado == 0)
            {
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" style="margin-top: 10px">
                <div class="card h-100">
                    @Html.ActionImage("Details", "Evento", new { id = item.EventoId }, "~/Images/banner-evento.jpg", "BANNER PADRÃO", "card-img-top")
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.ActionLink(item.Titulo, "Details", new { id = item.EventoId })
                        </h4>
                        <p class="card-text">
                            @Html.DisplayFor(modelItem => item.ResumoDescricao)
                        </p>
                    </div>
                    <div class="card-footer">
                        <br />
                        @if (Kolay.DAL.ParticipanteDAO.BuscarParticipantePorUsuarioEvento(item.EventoId, Convert.ToInt32(User.Identity.Name)) == null)
                        {
                            @Html.ActionLink("Inscrever-se", "Create", "Participante", new { id = item.EventoId }, null)
                        }
                        else
                        {
                            @Html.ActionLink("Ver participantes", "ParticipantesEvento", "Participante", new { id = item.EventoId }, null)
                        }

                    </div>
                </div>
            </div>
            }
        }
    </div>
</div>

