﻿@model IEnumerable<Kolay.Models.Evento>

@{
    ViewBag.Title = "Buscar eventos";
}
@using Kolay.Extensions
@Styles.Render("~/Content/Evento/4-col-portfolio.css")

<div class="container">
    <div class="row">
        <form role="search" class="navbar-form">
            <div class="form-group has-feedback">
                @using (Html.BeginForm("Pesquisar","Evento", FormMethod.Post))
                {
                    @Html.TextBox("id", "", new { @class = "form-control", placeholder = "Procurar eventos" })

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Pesquisar" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </form>
    </div>
    <br />
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.EventoCancelado == 0)
            {
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    @Html.ActionImage("Details", "Evento", new { id = item.EventoId }, (item.BannerPath != null ? "~/" + item.BannerPath : "~/Images/banner-evento.jpg"), "BANNER PADRÃO", "card-img-top")
                    <div class="card-body">
                        <h4 class="card-title">
                            @Html.ActionLink(item.Titulo, "Details", new { id = item.EventoId })
                        </h4>
                        <p class="card-text">
                            @Html.DisplayFor(ModelItem => item.ResumoDescricao)
                        </p>
                    </div>
                    <div class="card-footer">
                        <br />
                        @if (Kolay.DAL.ParticipanteDAO.BuscarParticipantePorUsuarioEvento(item.EventoId, Convert.ToInt32(User.Identity.Name)) == null)
                        {
                            @Html.ActionLink("Inscrever-se", "Create", "Participante", new { id = item.EventoId }, null)
                        }
                        else
                        {
                            @Html.ActionLink("Ver participantes", "ParticipantesEvento", "Participante", new { id = item.EventoId }, null)
                        }

                    </div>
                </div>
            </div>
            }
        }
    </div>
</div>

