﻿@model IEnumerable<Kolay.Models.Mensagem>

<div class="mailbox-controls">
    <!-- Check all button -->
    <button class="btn btn-default btn-sm checkbox-toggle"><i class="glyphicon glyphicon-unchecked"></i></button>
    <div class="btn-group">
        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-trash"></i></button>
        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-left"></i></button>
        <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-share-alt"></i></button>
    </div><!-- /.btn-group -->
    @*<button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-refresh"></i></button>*@
    <button class="btn btn-default btn-sm" id="refreshMessages" data-url="@Url.Action("MessagesUpdate", "Mensagem")"><i class="glyphicon glyphicon-refresh"></i></button>
    <div class="pull-right">
        1-50/200
        <div class="btn-group">
            <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-left"></i></button>
            <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-right"></i></button>
        </div><!-- /.btn-group -->
    </div><!-- /.pull-right -->
</div>
<hr>

<div class="table-responsive mailbox-messages">
    <table class="table table-hover table-striped">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox"></td>
                    <td class="mailbox-name">
                        @Html.ActionLink(item.UsuarioDestino.Nome, "Details", new { id = item.MensagemId })
                    </td>
                    <td class="mailbox-name">
                        @Html.ActionLink(item.Evento.Titulo, "Details", new { id = item.MensagemId })
                    </td>
                    <td class="mailbox-subject">
                        @Html.ActionLink(item.Titulo, "Details", new { id = item.MensagemId })
                    </td>
                    <td class="mailbox-date">
                        @Html.DisplayFor(modeItem => item.DataCriacao)
                    </td>
                </tr>
            }
        </tbody>
    </table><!-- /.table -->
</div>