﻿@model Kolay.Models.Mensagem

@{
    @Styles.Render("~/Content/Inbox.css")
    int totalNaoLidas = ViewBag.TotalNaoLidas;
    int total = ViewBag.Total;

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
}

<div class="inbox">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body inbox-menu">
                <h3>Kolay Inbox</h3>
                <ul>
                    <li>
                    <li>
                        <a href="@Url.Action("Unread", "Mensagem")"><i class="fa fa-bookmark"></i> Não Lidas<span class="label label-info">@totalNaoLidas</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Todas", "Mensagem")"><i class="fa fa-inbox"></i> Todas <span class="label label-danger">@total</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Enviadas", "Mensagem")"><i class="fa fa-rocket"></i> Enviadas</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Lixeira", "Mensagem")"><i class="fa fa-trash-o"></i> Lixeira</a>
                    </li>

                </ul>
            </div>
        </div>
    </div><!--/.col-->
</div>


<div class="col-sm-9">
    <section class="panel">
        
        <div class="panel-body ">

            <div class="mail-header row">
                <div class="col-md-8">
                    <h4 class="pull-left"> @Html.DisplayFor(model => model.Titulo) </h4>
                </div>
                <div class="col-md-4">
                    <div class="compose-btn pull-right">
                        <a href="@Url.Action("Responder", "Mensagem", new { id = Model.MensagemId } )" class="btn btn-sm btn-theme"><i class="fa fa-reply"></i> Responder</a>
                        <button class="btn btn-sm tooltips" data-original-title="Trash" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-trash-o"></i></button>
                    </div>
                </div>

            </div>
            <div class="mail-sender">
                <div class="row">
                    <div class="col-md-8">
                        <strong>@Html.DisplayFor(model => model.Evento.Titulo)</strong>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-8">
                        <strong>@Html.DisplayFor(model => model.UsuarioOrigem.Nome)</strong>
                    </div>
                    <div class="col-md-4">
                        <p class="date"> @Html.DisplayFor(model => model.DataCriacao) </p>
                    </div>
                </div>
            </div>
            <div class="view-mail">
                @Html.DisplayFor(model => model.Corpo)
            </div>
            
            <div class="compose-btn pull-left">
                <a href="@Url.Action("Responder", "Mensagem", new { id = Model.MensagemId } )" class="btn btn-sm btn-theme"><i class="fa fa-reply"></i> Responder</a>
                
                <button class="btn btn-sm tooltips" data-original-title="Trash" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-trash-o"></i></button>
            </div>
        </div>
    </section>
</div>


@*<div>
    <h4>Mensagem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Corpo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Corpo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MensagemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
