﻿@model IEnumerable<Kolay.Models.Mensagem>

@{
    ViewBag.Title = "Inbox";
    @Styles.Render("~/Content/Inbox.css")
    int totalNaoLidas = ViewBag.TotalNaoLidas;
    int total = ViewBag.Total;

    bool? enviadas = ViewBag.Enviadas;
    bool? lixeira = ViewBag.Lixeira;

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
}



<div class="inbox">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body inbox-menu">
                <h3>Kolay Inbox</h3>
                <ul>
                    <li>
                    <li>
                        <a href="@Url.Action("Mailbox", "Mensagem")"><i class="fa fa-bookmark"></i> Não Lidas<span class="label label-info">@totalNaoLidas</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Todas", "Mensagem")"><i class="fa fa-inbox"></i> Todas <span class="label label-danger">@total</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Enviadas", "Mensagem")"><i class="fa fa-rocket"></i> Enviadas</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Lixeira", "Mensagem")"><i class="fa fa-trash-o"></i> Lixeira</a>
                    </li>

                </ul>
            </div>
        </div>
    </div><!--/.col-->
</div>

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-body">


            <div id="messages">
                @if (@enviadas != null)
                {
                    @Html.Partial("_OuboxMessages")
                }
                else if (@lixeira != null)
                {
                    @Html.Partial("_LixeiraMessages")
                }
                else
                {
                    @Html.Partial("_InboxMessages")
                }

            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
