﻿@{
    ViewBag.Title = "Home Page";
    int totalEventos = ViewBag.TotalEventos;
    int totalConcluidos = ViewBag.TotalConcluidos;
    int totalCriados = ViewBag.TotalCriados;
}

<div class="jumbotron" style="height:350px;">
    <div class="row">
        <div style="width:30%; height: 0 auto">
            <img src="~/Content/Evento/logo.png" />
            <p class="lead">O jeito mais fácil de organizar seus eventos!</p>
            <p>@Html.ActionLink("Para que serve? »", "Info", null, new { @class = "btn btn-primary" })</p>
        </div>
        <div class="panel panel-default" style="margin-left:530px;margin-top:-210px; width:0 auto; height: 0 auto;">
            <div class="panel-heading">Informações gerais</div>
            <div class="panel-body">
                <h5><strong>@totalEventos - Eventos abertos </strong></h5><br />
                <h5><strong>@totalConcluidos - Eventos concluídos</strong></h5><br />
                <h5><strong>@totalCriados - Eventos criados</strong></h5>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @if (!Request.IsAuthenticated)
    {
        <div class="col-md-6">
            <div class="alert alert-dismissible alert-success" style="width: 0 auto; height: 0 auto; padding-top:5px; padding-bottom:5px; margin: 5px;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Promoção 50%</strong> de desconto para novos membros!<br /><a href="~/Planos/Index" class="alert-link"> Não fique de fora!</a>.
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-dismissible alert-info" style="width: 0 auto; height: 0 auto; padding-top:5px; padding-bottom:5px; margin: 5px;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Bombando!</strong> esta semana foram criados 26% eventos<br /> a mais que no mês passado! Crie já um evento :)
            </div>
        </div>
    }
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Crie ou inscreva-se em Evento</h2>
        <p>
            Crie ou participe dos eventos mais mega boga do universo. Por que você merece!!!
        </p>
        @if (!Request.IsAuthenticated)
        {
            <p>@Html.ActionLink("Registre-se", "Create", "Usuario", null, new { @class = "btn btn-default" })</p>
        }
        
    </div>
    <div class="col-md-4">
        <h2>Converse com os Participantes</h2>
        <p>Mensagens inbox são uma coisa muito massa...</p>
        @if (!Request.IsAuthenticated)
        {
            <p>@Html.ActionLink("Registre-se", "Create", "Usuario", null, new { @class = "btn btn-default" })</p>
        }
    </div>
    <div class="col-md-4">
        <h2>Seja um usuário Master of Puppets</h2>
        <p>Participe dos Evento ou crie Evento fodasticos para atingir pontuação para se tornar o mestre supremo do universo.</p>
        @if (!Request.IsAuthenticated)
        {
            <p>@Html.ActionLink("Registre-se", "Create", "Usuario", null, new { @class = "btn btn-default" })</p>
        }
    </div>
</div>