﻿
@{
    ViewBag.Title = "Funcionalidades";
}

<div style="margin:20px">
    <div style="margin-top:100px">
        <h1>Afinal, o que é <font color="#01756a"><strong>Kolay</strong></font><strong>?</strong></h1>
    </div>
    <div style="text-align: center; margin: 20px">
        <br />
        <p>
            Simplesmente a melhor ferramenta para gerenciar e encontrar eventos!><br />
            em outras palavras é melhor você mesmo tirar sua conclusão, abaixo segue algumas funcionalidades:
        </p>
    </div>
    <!-- Esta div serve como um separador -->
    <div style="height:2px;background:#717171;border-bottom:1px solid #313030;width:80%;margin-left:10%"></div>

    <div style="text-align:left;margin-left:20px;margin-top:30px">
        <h4 style="color:#01756a">
            <strong>Criar eventos</strong><br />
        </h4>
        <p> • Você pode criar um evento e convidar todos para participar dele!</p>
    </div>

    <div style="text-align:left;margin-left:20px;margin-top:30px">
        <h4 style="color:#01756a">
            <strong>Compartilhar eventos</strong><br />
        </h4>
        <p> • Você pode compartilhar algum evento seu ou de um amigo!</p>
    </div>

    <div style="text-align:left;margin-left:20px;margin-top:30px">
        <h4 style="color:#01756a">
            <strong>Encontrar eventos</strong><br />
        </h4>
        <p> • Você pode encontrar algum evento de seu interesse para participar ou promover!</p>
    </div>
</div>
